
* {
    margin: 0;
    padding: 0;
}
$blue: #2b435d;
$red: #ea394e;
$white: #fff;
$lite: #f8f9fa;
$bg: #b1bac1;
$border: #e2e2e2;
#body {
    background-color: $bg;
    font-family: 'Nunito', sans-serif;
}
.product-box {
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0 0 3px #ccc;
}
.product-img img{
    width: 100%;
    cursor: pointer;
}
.product-img-thumbs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    img {
        width: 100%;
        border-radius: 10px;
        border:1px solid $white;
    }
    img:hover {
        border:1px solid $blue;
    }
}
.product-description {
    text-align: justify;
}
.product-price {
    color: $red;
    font-size: 1.5em;
}
.product-size-titile {
    text-transform: uppercase;
    text-align: right;
}
.product-size {
    display: flex;
    justify-content: end;
    gap: 10px;
    
    div {
        padding: 1px 3px 0px 3px;
        border-radius: 5px;
        border:1px solid $border;
        font-size: 0.9em;
    }
}
.slide-image img {
    width: 100%;
}
.modal-content {
    position: relative;
    width: 100%;
}
.slide-arrows {
    position: absolute;
    height: 100%;
    width: 100%;

    .slide-arrow_prev,
    .slide-arrow_next {
        position: absolute;
        height: 100%;
        width: 50%;
        cursor: pointer;
    }
    .slide-arrow_next {
        right: 0;
    }
    svg {
    position: absolute; 
    top: 50%;
    transition: .4s;
    stroke: $bg
    }
    .slide-arrow_prev svg {
        left: 5%;
    }
    .slide-arrow_next svg {
        right: 5%;
    }
    .slide-arrow_prev:hover svg,
    .slide-arrow_next:hover svg {
        stroke: $blue;
    }
}
